In [53]:
import pymongo
import pandas as pd

In [54]:
client = pymongo.MongoClient('localhost', 27017)
client.database_names()

[u'UCI-Database', u'admin', u'local', u'test-database']

In [61]:
db = client['UCI-Database']
db.collection_names()

[u'income', u'profiles']

In [62]:
collection = db['income']

In [63]:
###
### Tell collection to return a Cursor for all values in our collection
### Tell Python to turn that Cursor into a list
### Tell Pandas to turn that list into a dataframe
###

income_df = pd.DataFrame(list(collection.find()))
income_df.head()

,_id,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,label,marital-status,native-country,occupation,race,relationship,sex,workclass
0,591b4ce5375e7d0b10ccb684,39,2174,0,Bachelors,13,77516,40,<=50K,Never-married,United-States,Adm-clerical,White,Not-in-family,Male,State-gov
1,591b4ce5375e7d0b10ccb685,50,0,0,Bachelors,13,83311,13,<=50K,Married-civ-spouse,United-States,Exec-managerial,White,Husband,Male,Self-emp-not-inc
2,591b4ce5375e7d0b10ccb686,38,0,0,HS-grad,9,215646,40,<=50K,Divorced,United-States,Handlers-cleaners,White,Not-in-family,Male,Private
3,591b4ce5375e7d0b10ccb687,53,0,0,11th,7,234721,40,<=50K,Married-civ-spouse,United-States,Handlers-cleaners,Black,Husband,Male,Private
4,591b4ce5375e7d0b10ccb688,28,0,0,Bachelors,13,338409,40,<=50K,Married-civ-spouse,Cuba,Prof-specialty,Black,Wife,Female,Private

In [64]:
income_df.tail()

,_id,age,capital-gain,capital-loss,education,education-num,fnlwgt,hours-per-week,label,marital-status,native-country,occupation,race,relationship,sex,workclass
32557,591b4cef375e7d0b10cd35b1,40,0,0,HS-grad,9,154374,40,>50K,Married-civ-spouse,United-States,Machine-op-inspct,White,Husband,Male,Private
32558,591b4cef375e7d0b10cd35b2,58,0,0,HS-grad,9,151910,40,<=50K,Widowed,United-States,Adm-clerical,White,Unmarried,Female,Private
32559,591b4cef375e7d0b10cd35b3,22,0,0,HS-grad,9,201490,20,<=50K,Never-married,United-States,Adm-clerical,White,Own-child,Male,Private
32560,591b4cef375e7d0b10cd35b4,52,15024,0,HS-grad,9,287927,40,>50K,Married-civ-spouse,United-States,Exec-managerial,White,Wife,Female,Self-emp-inc
32561,591b4cef375e7d0b10cd35b5,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
income_df['age'].describe()

count     32562
unique       74
top          36
freq        898
Name: age, dtype: int64

In [60]:
income_df['education'].describe()

count       32561
unique         16
top       HS-grad
freq        10501
Name: education, dtype: object